h1 {
    margin: auto;
}

body {
    text-align: center;
}

.chart {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, calc(300px / 3));
    grid-template-rows: repeat(3, calc(300px / 3));
    border: 10px;
    align-content: center;
    margin: auto;
    border: 3px solid green;
    padding: 20px;
}

.box {
    color: red;
    border-radius: 20px;
    border: 3px solid black;
    background-color: aqua;
    height: auto;
    width: auto;
}

.chart div {
    aspect-ratio: 1;
}

.reset-btn {
    background-color: aqua;
    padding: 10px;
    border: 3px solid black;
}