h1 {
    margin: auto;
}

body {
    text-align: center;
}

.chart {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, calc(300px / 3));
    grid-template-rows: repeat(3, calc(300px / 3));
    border: 10px;
    align-content: center;
    margin: auto;
    background-color: black;
    padding: 20px;
    border: 3px solid #fff0;
    box-shadow: 0 0 1px navy, 0 0 2px navy, 0 0 3px navy, 0 0 4px navy;
    
}

.box {
    color: white;
    border-radius: 20px;
    background-color:rgb(2, 2, 43);
    border: 3px solid #fff;
    box-shadow: 0 0 4px red, 0 0 8px red, 0 0 12px red, 0 0 16px red;
    font-size: 300%;
    height: auto;
    width: auto;
}

.chart div {
    aspect-ratio: 1;
}

.reset-btn {
    color: white;
    background-color: green;
    border: 1px solid green;
    padding: 10px;
}